# Project-specific environment variables, powered by direnv
# For more details, see: https://direnv.net
export GITHUB_BASE_URL=
export GITHUB_APP_ID=
export GITHUB_APP_PRIVATE_KEY_PATH=
export GITHUB_APP_WEBHOOK_SECRET=development
